
.b-grey {
    background-color: grey;
}
.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.p-t-5px{
    padding-top: 5px;
}

.p-left-right-15px {
    padding-left: 15px;
    padding-right: 15px;
}

.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-direction-row{
    flex-direction: row;
}

.flex-direction-row{
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.b-right-bottom{
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}

.b-bottom{
    border-bottom: 4px solid white;
}

.b-right{
    border-right: 4px solid white;
}

.text-center{
    text-align: center;
}
.f-size-30{
   font-size: 30px;
}
.f-size-25{
    font-size: 25px;
}

.reset-button{
    color: red;
    background-color: white;
    padding: 8px 20px;
    cursor: pointer;
}

.c-white{
    color: white;
}